<div style="text-align: center;">
  <h1>Pen-E-Pals</h1>
  <!-- image of smile penny -->
  <img
    class="topPic"
    src="../assets/images/media/penpalslogo.png"
    alt="smiling pennies sending an email"
  />
  <h2>Welcome to the premier electronic pen pals site.</h2>
  <nav id="nav">
    <a href="/">🏠 HOME 🏠</a>
    <br />
    <a href="/register">📄 Register to be a Pal 📄</a>
    <br />
    <a href="/pals"> 🔍 View Pals List 🔎</a>
  </nav>
</div>

<router-outlet></router-outlet>

<h5 style="text-align: center;">
  <a href="https://brianloveless.com" target="_blank"> Brian </a> made it
</h5>
