<div style="text-align: center;">
  <h1>Pen-E-Pals</h1>
  <!-- image of smile penny -->
  <img
    class="topPic"
    src="../assets/images/media/penpalslogo.png"
    alt="smiling pennies sending an email"
  />
  <h2>Welcome to the premier electronic pen pals site.</h2>
  <nav id="nav" class="white">
    <div class="line">
    <a href="/">
      <div class="hide">🏠</div>
      HOME
    </a>
  </div>
    <br />
    <div class="line">
    <a href="/register">
      <div class="hide">📄</div>
      Register to be a Pal
    </a>
  </div>
    <br />
    <div class="line">
    <a href="/pals">
      <div class="hide">🔍</div>
      View Pals List
    </a>
  </div>
  </nav>
</div>

<router-outlet></router-outlet>

<h5 style="text-align: center;">
  <a href="https://brianloveless.com" target="_blank"> Brian </a> made it
</h5>
