<!-- 
create post to get letters from pen pals via email
never give out private info
links to mental health
links to meals on wheels -->
<div class="spacer"></div>
<div class="container">
  <h2>Never give any personal info to another pen-e-pal through your email</h2>
  <h3>
    The Pen-E-Pals site will never ask for your address, password, or phone
    number. You should never give any personal info to anyone from this site.
  </h3>
  <h3>
    Any posts where the interests are hateful, inappropriate or mean will be
    removed!
  </h3>
  <a href="mailto:bloveless@talentpath.com">Contact Site Admin</a> To report any
  abuse hostility or errors.
  <div class="spacer"></div>
  <p>
    In this time of isolation and quarantine wouldn't it be nice to have an
    email pen pal to chat about the happy things that are still in our world?
  </p>
  <p>
    That is the purpose of this site! No account needed, just enter your name,
    your preferred email, and some things that interest you. Anyone can reach
    out over email and strike up a conversation.
  </p>
  <div class="spacer"></div>
  <p>
    If you are struggling, know you are not alone. Please use the resources from
    the following links.
  </p>
  <ul>
    <li>
      <a
        href="https://www.samhsa.gov/find-help/national-helpline"
        target="_blank"
      >
        SAMHSA
      </a>
      Free National Help Line
    </li>
    <li>
      <a href="https://nami.org/Support-Education" target="_blank"> NAMI </a>
      Support and Education page
    </li>
    <li>
      <a href="https://www.nimh.nih.gov/index.shtml" target="_blank"> NIH</a>
      National Institute of Mental Health
    </li>
    <li>
      <a href="https://suicidepreventionlifeline.org/" target="_blank">
        NSPL
      </a>
      National Suicide Prevention Lifeline
    </li>
    <li>
      <a href="https://www.veteranscrisisline.net/" target="_blank"
        >Veterans Crisis Line
      </a>
      from the US Dept of Veterans Affairs
    </li>
    <li>
      <a href="https://www.mentalhealth.gov/" target="_blank"> Mental Health</a>
      from the U.S. Department of Health & Human Services
    </li>
    <li>
      <a href="https://www.mealsonwheelsamerica.org/" target="_blank">
        Meals on Wheels</a
      >
      National Site
    </li>
  </ul>
</div>
