@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rowdies:wght@700&display=swap');


.spacer {
  min-height: 100px;
}

.white {
  font-family: 'Rowdies', cursive;
  background-color: whitesmoke;
  padding: 10%;
  margin: 1%;
}

.intro{
  font-family: 'Oswald', sans-serif;
  font-stretch: expanded;
  font-size: larger;
}

.green{
  border: 3px solid green;
}
.blue{
  border: 3px solid blue;
}
.red{
  border: 3px solid red;
}